PORT=ADD_YOUR_PORT_HERE
MONGO_URI=ADD_YOUR_MONGO_URI_HERE
REDIS_URL=ADD_YOUR_REDIS_URL_HERE
LOG_LEVEL=info
NODE_ENV=development
ENABLE_ZSTD=false
JWT_ACCESS_SECRET=ADD_YOUR_SECRET_KEY_HERE
JWT_REFRESH_SECRET=ADD_YOUR_REFRESH_SECRET_HERE
JWT_ACCESS_EXPIRES_IN=Add_YOUR_ACCESS_EXPIRES_IN_HERE
JWT_REFRESH_EXPIRES_IN=Add_YOUR_REFRESH_EXPIRES_IN_HERE







